* {
  margin: 0;
}

.navbar {
  height: 70px;
  background-color: black;
  display: flex;
}
.navbar h2 {
  color: white;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 70px;
}
.leftColumn {
  width: 40%;
  text-align: center;
}
.rightColumn {
  width: 60%;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.msection1 {
  display: flex;
  margin-top: 130px;
}
img {
  border-radius: 50%;
}
.rightColumn p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.rightColumn h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.imagebox {
  text-align: center;
  padding: 50px;
 
}
.msection2 {
  margin-top: 130px;
  display: flex;
  justify-content: space-evenly;
}
.footer {
  margin-top: 100px;
  background-color: darkred;
  color: white;
  padding: 30px;
  height: 240px;
  text-align: center;
}
.footer h2 {
  margin-bottom: 30px;
}
.footer h3 {
  margin-top: 50px;
}